# Data file directory likely authentication info, user data, etc.
data/

# User volumes for services, e.g., home directories, shared directories, etc.
volumes/

# Logs and temporary files.
logs/
tmp/
*.log
*.tmp